@charset "utf-8";


.test-info{
	padding: 30px;
}
.test-info li{
   margin:4px 100px 0 0;
}
.stu-info{
	margin: -20px 0px 0 0;
}
.ans-ques{
	margin-left: 10px;
}
.btn{
	margin-left: 30px;
}
.radio input[type=radio]:checked{  
    position: relative;
    transition: all 0.2s ease;
    transform: scale(1.5, 1.5);
}